
.contenedor-item{
    background-color: rgba(0, 0, 0, 0.582);
    border: 2px solid white;
    color: rgb(250, 250, 250);
    margin: 3em auto;
    padding: 0 2.5em 2.5em;

}

.item{
    font-size: 2em;
    text-align: center;
}