


*{
    box-sizing: border-box;
}



.container-logo{
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 3px 2px 3px rgba(243, 243, 243, 0.322);
    position: absolute;
    width: 250px;
}

.container-logo h1{
    font-size: 1.8em;
}

.nav{
    padding: 3em 0 3em;
    width: 250px;
    height: 100vh;
    border-right: 2px solid white;
    background-color: rgba(0, 0, 0, 0.733);
}

.nav__link{
    color: rgb(248, 248, 248);
    display: block;
    padding: 25px 0;
    text-decoration: none;
    font-size: 1.5em;
    transition: background-color .2s;
}

.nav__link:hover{
    background-color: rgba(255, 255, 255, 0.329);
}

.list{
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 4em;
}

.list__item{
    text-align: center;
}

