.itemCount{
    justify-content: center;
    display: flex;
    align-items: center;
}

.agregar{
    margin-left: 20px;
}

button{
    background:none;
    font-size: 2em;
    color: white;
    margin: .4em;
    box-shadow: 2px 2px 2px 2px rgba(109, 108, 108, 0.377);
    border: 2px solid rgba(212, 210, 210, 0.219);
}

p{
    font-size: 2em;
}